<fieldset>
  <legend><h4>Push Name:<%= @push.name %></h4></legend>
  <p>
    <label for="dummy1">Category</label><br/>
    <%= f.select "category_id", options_from_collection_for_select(Category.all, :id, :name, @push.category_id) %>
  </p>
  <hr/>
  <label for="dummy1">Folder Management</label><br/>
  <%= f.select "folder_id", options_from_collection_for_select(Folder.all, :id, :name, @push.folder_id) %>
  <br/>

  <p>
    <label for="dummy2">Comment</label><br>
    <%= f.text_area "comment" %>
  </p>

  <p>
    <input type="reset" value="Cancel">
    <input type="submit" value="Continue">
  </p>
</fieldset>