<fieldset>
  <legend><h4>Push Name:<%= @push.name %></h4></legend>
  <p>
    <label for="dummy1">Select Address Book</label><br/>
    <%= f.select "address_book_id", options_from_collection_for_select(AddressBook.with_user, :id, :name, @push.address_book_id) %>

  </p>
  <hr/>
  <label for="dummy1">Select Design Style</label><br/>
  <%= f.select "design_id", options_from_collection_for_select(Design.with_user, :id, :name, @push.design_id) %>
  <br/><br/>

  <p>
    <input type="reset" value="Cancel">
    <input type="submit" value="Continue">
  </p>
</fieldset>

<% content_for :note_sidebar do %>
    <fieldset>
      <legend><h4>Note</h4></legend>
      <ul id="content-pushC">
        <li class="conFocus">
          <p>Select Address Book – Choose related Address Book for this email. If you don't have an Address Book, please
            click “Address Book” on the navigation to create a data list.</p>
          <br/>

          <p>Select Design Style – Choose related Design for this email. If you don't have any Design Style, please
            click “Design” on the navigation to upload HTML codes. </p>

      </ul>
    </fieldset>
<% end %>