<fieldset>
  <legend><h4>Push Name:<%= @push.name %></h4></legend>
  <p>
    <label for="dummy1">Select Address Book</label><br/>
    <%= f.select "address_book_id", options_from_collection_for_select(AddressBook.with_user, :id, :name, @push.address_book_id) %>

  </p>
  <hr/>
  <label for="dummy1">Select Design Style</label><br/>
  <%= f.select "design_id", options_from_collection_for_select(Design.with_user, :id, :name, @push.design_id) %>
  <br/><br/>

  <p>
    <input type="reset" value="Cancel">
    <input type="submit" value="Continue">
  </p>
</fieldset>

<% content_for :note_sidebar do %>
<fieldset>
          <legend><h4>Note</h4></legend>
          <ul id="content-pushC">
              <li class="conFocus">
              <p>Select Address Book - 针对本次邮件营销选择相关联的Address Book发送，如果还未建立Address Book请在导航栏点击Address Book栏目建立数据列表。</p>
              <br />
              <p>Selecr Design Style - 针对本次邮件营销选择相关联的Design发送，如果还未建立Design Style请在导航栏点击Design栏目上传HTML代码。</p>

          </ul>
        </fieldset>
<% end %>