    <div class="span-3">
        <div class="button">
            <%= link_to "Create Push", new_push_path %>
        </div>
    </div>
	<br />
    <br />
    <br />
    <hr />
	<div id="container">		
		<div id="demo">
            <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                <thead>
                    <tr>
                        <th>Push Title</th>
                        <th>Date Push</th>
                        <th>Design</th>
                        <th>Feedback</th>
                        <th>Status</th>
                        <th>Sort</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX">
                        <td><a href="./addpushshow.html">Cisco Bank Promotion</a></td>
                        <td>Pending</td>
                        <td><a href="./design/designshow.html"><img src="img/design.png" /></a></td>
                        <td class="center">0.00%</td>
                        <td class="center">Draft</td>
                        <td class="center"><img src="img/blue.png" /></td>
                        <td class="center"><a href="#">Download</a>|<a href="#">Delete</a></td>
                    </tr>
                    <tr class="gradeC">
                        <td><a href="./addpushshow.html">Cisco SMB Promotion</a></td>
                        <td>Pending</td>
                        <td><a href="./design/designshow.html"><img src="img/design.png" /></a></td>
                        <td class="center">0.00%</td>
                        <td class="center">Draft</td>
                        <td class="center"><img src="img/red.png" /></td>
                        <td class="center"><a href="#">Download</a>|<a href="#">Delete</a></td>
                    </tr>
                    <tr class="gradeA">
                        <td><a href="./pushfeedback.html">Cisco B2B Promotion</a></td>
                        <td>2011/08/16</td>
                        <td><a href="./design/designshow.html"><img src="img/design.png" /></a></td>
                        <td class="center">69.8%</td>
                        <td class="center">Send</td>
                        <td class="center"><img src="img/yellow.png" /></td>
                        <td class="center"><a href="#">Download</a>|<a href="#">Delete</a></td>
                    </tr>
                    <tr class="gradeA">
                        <td>Cisco Networks Promotion</td>
                        <td>Pending</td>
                        <td><a href="./design/designshow.html"><img src="img/design.png" /></a></td>
                        <td class="center">0.00%</td>
                        <td class="center">Draft</td>
                        <td class="center"><img src="img/green.png" /></td>
                        <td class="center"><a href="#">Download</a>|<a href="#">Delete</a></td>
                    </tr>
                    <tr class="gradeA">
                        <td>WebEX Promotion</td>
                        <td>Pending</td>
                        <td><a href="#"><img src="img/design.png" /></a></td>
                        <td class="center">0.00%</td>
                        <td class="center">Draft</td>
                        <td class="center"><img src="img/green.png" /></td>
                        <td class="center"><a href="#">Download</a>|<a href="#">Delete</a></td>
                    </tr>
                    <tr class="gradeA">
                        <td>TelePresence Promotion</td>
                        <td>Pending</td>
                        <td><a href="./design/designshow.html"><img src="img/design.png" /></a></td>
                        <td class="center">0.00%</td>
                        <td class="center">Draft</td>
                        <td class="center"><img src="img/green.png" /></td>
                        <td class="center"><a href="#">Download</a>|<a href="#">Delete</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Push Title</th>
                        <th>Date Push</th>
                        <th>Design</th>
                        <th>Feedback</th>
                        <th>Status</th>
                        <th>Sort</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="spacer"></div>		
      </div>


