	<br /><br />
	<div class="span-12">
        <%= form_for(@push) do |f| %>
  <% if @push.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@push.errors.count, "error") %> prohibited this push from being saved:</h2>

      <ul>
      <% @push.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

          <%= render "#{@push.step}", :f => f %>
        </form>	
      </div>
        <div class="span-12 last">
        <fieldset>
          <legend><h3>Note</h3></legend>
          <p><caption><em>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid foundation to build your project on top of, with an easy-to-use grid, sensible typography, useful plugins, and even a stylesheet for printing.</em></caption></p>
          <p>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid foundation to build your project on top of, with an easy-to-use grid, sensible typography, useful plugins, and even a stylesheet for printing.</p>
          <p>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid foundation to build your project on top of, with an easy-to-use grid, sensible typography, useful plugins, and even a stylesheet for printing.</p>
          <p>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid foundation to build your project on top of.</p>
        </fieldset>
 	</div>
    <% end  %>

