<div class="span-12">
  <fieldset>
    <legend><h4>Create Design</h4></legend>

    <%= render 'form' %>

  </fieldset>
</div>

<div class="span-12 last">
        <fieldset>
          <legend><h4>Note</h4></legend>
          <ul id="content">
          <p><%= link_to image_tag("help/edm.png", :class=>"edm"), root_url %></p>
        </fieldset>
 	</div>