<div class="span-12">
  <fieldset>
    <legend><h4>Create Design</h4></legend>

    <%= render 'form' %>

  </fieldset>
</div>

<div class="span-12 last">
        <fieldset>
          <legend><h4>Note</h4></legend>
          <ul id="contentf">
          <p><caption><em>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid foundation to build your project on top of, with an easy-to-use grid, sensible typography, useful plugins, and even a stylesheet for printing.</em></caption></p>
          <p>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid foundation to build your project on top of, with an easy-to-use grid, sensible typography, useful plugins, and even a stylesheet for printing.</p>
          <p>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid foundation to build your project on top of, with an easy-to-use grid, sensible typography, useful plugins, and even a stylesheet for printing.</p>
          <p>Blueprint is a CSS framework, which aims to cut down on your development time. It gives you a solid foundation to build your project on top of.</p>
          </ul>
        </fieldset>
 	</div>