
	<br /><br />
	<div class="span-24">
        <form id="dummy" action="" method="post">
        <fieldset>
            <div class="span-24">
                <h3>Your request has been successfully submitted, Please wait until we email you the result.</h3>
            </div>
            <hr class="space">
            <hr />
            <div class="span-24">
				<p>Note Your request has been successfully submitted, Please wait until we email you the result.Your request has been successfully submitted, Please wait until we email you the result.Your request has been successfully submitted, Please wait until we email you the result.Your request has been successfully submitted, Please wait until we email you the result.</p>
                <p><%= link_to  "Back", back_path(:from=>params[:from]) %></p>
            </div>
        </fieldset>
        </form>
      </div>
