@charset "utf-8";
/* jQuery Note Document */
.span-12 ul,li {margin:0; padding:0; list-style:none}
#menu li {text-align:center; float:left; padding:0px; margin-right:2px; width:100px; cursor:pointer}
#menu li.tabFocus {width:100px; z-index:100; position:relative}
#content {width:400px; height:250px; padding:2px; clear:left; position:relative; top:-1px}
#content li {display:none}
#content li.conFocus{display:block}
/* jQuery Feedback Document */
#menufeedback li {text-align:center; float:left; padding:0px; margin-right:20px; width:200px; cursor:pointer; font-size:14px; color:#333;}
#menufeedback li.tabFocus {width:200px; z-index:200; position:relative;}
#contentfeedback {width:400px; height:1400px; padding:2px; clear:left; position:relative; top:-1px}
#contentfeedback li {display:none}
#contentfeedback li.conFocus{display:block}

/* jQuery Del Document */
#general {margin:30px;}
#myHiddenDiv {display:none;}
.popup {background:#FFF; border:1px solid #333; padding:1px;}
.popup-header {height:24px; padding:7px; background-color:#CCC;}
.popup-header h2 {margin:0; padding:0; font-size:16px; float:left;}
.popup-header .close-link {float:right; font-size:11px;}
.popup-body {padding:10px; height:140px;}
.popup-body .bottom {padding:30px; font-size:14px;}
.btn {margin-left:30px; width:65px;}
form {margin:0; padding:0;}
form * {font-size:12px;}
input {margin-bottom:12px;}

/* CSS Body Document */
html { margin: 0; padding: 0; border:0;}

body {
	overflow:hidden;
	padding:0;
	margin:0;
	border:0;
	background-color:#CCC;
	overflow:auto; top:100px;
	height:100%;
}

.clear {
	clear:both;
}

/* container begin */
.header {
	width:100%;
	height:36px;
	margin: 0 auto;
	background: #0e0e0e; /* old browsers */
	background: -moz-linear-gradient(left, #0e0e0e 4%, #474747 63%, #262626 100%); /* firefox */
	background: -webkit-gradient(linear, left top, right top, color-stop(4%,#0e0e0e), color-stop(63%,#474747), 	color-stop(100%,#262626)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#262626',GradientType=1 ); /* ie */
}

.header img {
	padding-left:20px;
	float:left;
}

ul.nav  {
	margin-left:150px;
	margin-top:8px;
	list-style: none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	float:left;
}


ul.nav a {
	display:block;
	padding: 0 1.5em;
	text-decoration:none;
	color:#C8C8C8;
}

ul.nav a:hover, a:active {
	color:#5877AC;
	text-decoration: underline;
}

ul.nav li {
	float:left;
	display:inline;
}

ul.navleft  {
	list-style: none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	float:right;
	margin-top:2px;
}


ul.navleft a {
	display:block;
	padding: 0 1em;
	text-decoration:none;
	color:#C8C8C8;
}

ul.navleft a:hover, a:active {
	color:#FFFFFF;
}

ul.navleft li {
	float:left;
	display:inline;
}

.bg {
	width:100%;
	height:16px;
	margin: 0 auto;
	background: -moz-linear-gradient(top, rgba(43,43,43,0.65) 0%, rgba(147,147,147,0) 23%, rgba(247,247,247,0) 45%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,43,43,0.65)), color-stop(23%,rgba(147,147,147,0)), color-stop(45%,rgba(247,247,247,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(43,43,43,0.65) 0%,rgba(147,147,147,0) 23%,rgba(247,247,247,0) 45%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(43,43,43,0.65) 0%,rgba(147,147,147,0) 23%,rgba(247,247,247,0) 45%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(43,43,43,0.65) 0%,rgba(147,147,147,0) 23%,rgba(247,247,247,0) 45%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a62b2b2b', endColorstr='#00f7f7f7',GradientType=0 ); /* IE6-9 */
}

/* head over */

/* container begin */

.container {
	margin: 0; padding: 0; border:0; height:auto;
	min-height:600px; /*  Note  */
}

.button {
   border-top: 1px solid #96d1f8;
   background: #5877ad;
   background: -webkit-gradient(linear, left top, left bottom, from(#5877ad), to(#5877ad));
   background: -webkit-linear-gradient(top, #5877ad, #5877ad);
   background: -moz-linear-gradient(top, #5877ad, #5877ad);
   background: -ms-linear-gradient(top, #5877ad, #5877ad);
   background: -o-linear-gradient(top, #5877ad, #5877ad);
   padding: 4px 18px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #5e6569;
   background: #5e6569;
   color: #ccc;
   }
.button:active {
   border-top-color: #85898c;
   background: #85898c;
   }
.button a {
	display:block;
	text-decoration:none;
	color:#FFFFFF;
}
.button a:hover, a:active {
	color:#FFFFFF;
}

/*button over*/

#footer {
	margin-top:60px;/*  Note  */
	width:100%;
	padding-bottom:20px;
}

#footer .content h5 {
	padding-left:10px;
	color:#666666;
}

#footer .content a {
	width:auto;
	padding: 0 1.5em;
	text-decoration:none;
}

.container fieldset legend h4 {
	color:#5877AC;
}
