<%= form_for(@address_book) do |f| %>
    <fieldset>
      <legend><h4>Provision</h4></legend>
      <p>
        PushSurvey has a zero-tolerance spam policy. Subscriber accounts will be terminated for sending unsolicited
        email messages. This means that all recipients sent to must have opted-in to receiving communications from you,
        the sender.

        You can only use PushSurvey to send emails to lists of people that gave you permission to email them. So if you
        don't have proof that each recipient on your list opted-in for your emails, don't import them into PushSurvey.

        We prohibit the use of harvested mailing lists. PushSurvey will terminate accounts violating this prohibition.
        We prohibit the use of third-party, purchased, or rented mailing lists unless you are able to provide proof that
        individuals on the list have opted-in to receiving emails of the type you will be sending them.
        You cannot mail to newsgroups, message boards, distribution lists or unsolicited email addresses.
        You agree to only use PushSurvey in association with an established list of permission based opt-in email
        addresses. We provide use of PushSurvey only to those subscribers who follow our strict anti-spam policy.
        You agree that you shall not utilize PushSurvey to send any commercial electronic mail message to any recipient
        who has opted out, unsubscribed or otherwise objected to receiving such messages from you or another party on
        whose behalf you may be commissioned.
      </p>
      <hr/>
      <p style="text-align:center;">
        <% hidden_field_tag "to_import" %>
        <%= f.submit "I Agree with the terms of use" %>
      </p>
    </fieldset>
<% end %>

