		<h3>Provision</h3>
          <fieldset>
    		<p>PushSurvey 采取零容忍的反垃圾邮件政策。倘若订户传送未经请求之电子邮件，其帐户将被终止。这意味贵用户传送邮件的所有收件人都必须订阅收到来自贵用户 (也就是发件人) 的消息。 贵用户只能够使用 PushSurvey 传送电子邮件至授与贵用户权限，可寄送电子邮件给对方的用户清单。因此如果贵用户没有证据证明列表中的每位收件人都已经订阅贵用户的电子邮件，请不要将他们汇入 PushSurvey。 我们禁止使用自行取得的邮件列表。违反前述规定者，PushSurvey 将终止其账户。我们禁止使用第三方邮件列表、购买的邮件列表或租用的邮件列表，除非您能够证明清单中的个人自愿选择接收您将寄送的电子邮件类型。 贵用户不得邮寄至新闻组、留言板、通讯组列表或未经请求的电子邮件地址。 贵用户同意只有在配合根据订阅电子邮件地址所建立的权限列表的情况下，才可使用 PushSurvey。惟有遵守严格反垃圾邮件政策的订户方可使用PushSurvey。 贵用户兹同意不使用 PushSurvey 将任何商业性电子邮件 (依 CAN-SPAM Act of 2003 所定义) 传送给以下任何收件者：已取消订阅或拒绝从贵用户或接受委托代表您的其他方收到此类邮件的收件者。</p>
            <hr />
            <p>
              <% hidden_field_tag "to_import" %>
              <%= f.submit "I Agree with the terms of use" %>
            </p>
          </fieldset>


